.navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
}

.logo-img {
  width: 5.5rem;
  height: auto;
  cursor: pointer;
}

.nav-container {
  height: 11rem;
  width: 100%;
  transition: height 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  font-size: 1.8rem;
  text-transform: uppercase;
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links i {
  cursor: pointer;
}

.cart-icon {
  position: relative;
}

.cart-icon::after {
  /* content: attr(data-array-length); */
  content: "";
  position: absolute;
  left: 11px;
  top: -9px;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  border-radius: 50%;
  background-color: #b6002c;
  color: white;
  text-align: center;
  padding: 5px;
  display: none;
}

.cart-icon-with-items::after {
  content: attr(data-array-length);
  position: absolute;
  left: 11px;
  top: -9px;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  border-radius: 50%;
  background-color: #b6002c;
  color: white;
  text-align: center;
  padding: 5px;
  display: block;
}

.hamburger-menu {
  display: none;
  gap: 3rem;
}

.burger-menu,
.hamburger-cart {
  font-size: 2.1rem;
  display: none;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu a i {
    text-decoration: none;
    font-size: 1.9rem;
  }

  .hamburger-cart,
  .burger-menu {
    display: flex;
  }
}
